@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 100vh;
  background-image: url('imagens/barbearia fundo.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.top-nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(255, 255, 255, 0.4);
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav a.active {
  color: #f5c518;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;

}

.contact-form {
  max-width: 600px;
  width: 90%;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  z-index: 10;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-top: 15px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .top-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .logo span {
    display: none;
  }

  .menu-toggle {
    display: block;
    align-self: flex-end;
    margin-bottom: 10px;
    top: 100%;
    left: 90%;
  }

  nav#nav-links {
    display: none;
    flex-direction: column;
    background: rgba(92, 90, 90, 0.95);
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    z-index: 20;
  }

  nav#nav-links.show {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    width: 100%;
  }

  nav ul li {
    width: 100%;
  }

  nav a {
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .contact-form {
    max-width: 8000px;
    width: 90%;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 150px auto;
    /* adiciona espaço abaixo do header */
    color: #000;
    z-index: 10;
    background-position: cover;
  }
}