* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  color: white;
  height: 100vh;
  background-image: url('imagens/barbearia\ fundo.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.top-nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav a.active {
  color: #f5c518;
}

.social-icons a {
  color: rgb(4, 0, 0);
  margin-left: 15px;
  font-size: 18px;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
}

.contact-form {
  max-width: 600px;
  width: 90%;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-top: 15px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #444;
}
