.container{
    display: grid;
    place-items: center;
    height: 100vh;
}
body{
    background-color: black;
}

h1{
    background-color: rgb(61, 14, 14);
    color: white;
    text-align: center;
    font-size: 100px;
    height: auto;
    padding-right: 10px;
    border-radius: 20px;
}
